log4js:
  appenders:
    out:
      type: console
    batch:
      type: dateFile
      filename: "/tmp/batch.log"
      pattern: "-yyyy-MM-dd"
      backups: 3
  categories:
    default:
      appenders:
        - out
      level: ALL
    batch:
      appenders:
        - batch
      level: ALL
